.dashboard {
  display: flex;

  .content {
    width: 100%;
    padding-inline: 1%;

    .dashboardWrapper {
      padding-inline: 5rem;
      margin-top: 1rem;

      .cardsGrid {
        margin-top: 5rem;
      }
    }
  }
}
