.SidebarLinkLi {
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #3f3f46;
  height: 7vh;
  max-height: 48px;
  margin-bottom: 5px;

  a {
    margin: 2px 15px;
    color: #0e94d4;
    text-decoration: none;
    margin-left: 22px;
    margin-top: 1px;
    margin-bottom: 1px;

    span {
      color: white;
      vertical-align: middle;

      &:nth-child(1) {
        font-size: 22px;
        margin-right: 19px;
      }

      &:nth-child(2) {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}
