.navbar {
  height: 7vh;
  display: flex;
  align-items: center;

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #b7b7b7;

    .fullpath {
      display: flex;
      align-items: center;

      .path {
        color: black;
      }
    }
  }
}
